<%- include('partials/header'); -%>

    <div class="intro">
    <h1>Hjem</h1>
    </div>
    
<form>
    <input type="text" id="first">
    <input type="text" id="last">
    <button type="button" onclick="add()">add</button>
    <button type="button" onclick="remove()">remove</button>
</form>

    <script src="js/index.js" defer></script>
<%- include('partials/footer'); -%>