<%- include('../partials/header'); -%>

    <title>Database testing</title>

    <!-- links -->
    <link rel="stylesheet" href="/CSS/admin.css">

<h1>10 latest releases!</h1>
<div id="recentBox">

</div>

<%- include('../partials/footer') -%>